*, *:after, *:before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.certs_edit_type
{
	color: #0080FF;
	margin-bottom: 30px;
}

#divCommand .inputfile
{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label
{
	/*max-width: 80%;*/
	font-size: 1.25rem;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	color: #9831FF;
	border: solid 1px #9831FF;
	background-color: #FFFFFF;
	padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label
{
	outline: dotted 1px #000000;
	outline: -webkit-focus-ring-color auto 5px;
	border-color: #7300E6;
}

.inputfile + label:hover
{
	border-color: #7300E6;
}

.inputfile + label svg
{
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	margin-top: -0.25em;
	/* 4px */
	margin-right: 0.25em;
	/* 4px */
}

.inputfile + label span
{
	width: 500px;
	min-height: 2em;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
	padding: 0.625rem 1.25rem;
}

.inputfile + label strong
{
	height: 100%;
	color: #FFFFFF;
	background-color: #9831FF;
	display: inline-block;
	padding: 0.625rem 1.25rem;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong
{
	background-color: #7300E6;
}

.txt_base64
{
	background-color: #282923;
	color: #F8F8F2;
	border: 0;
	font-size: 22px;
	font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
	width: 900px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	/*overflow-x: hidden;	!* 隐藏水平滚动条 *!*/
	/*overflow-y: auto;	!* 当内容超出时显示垂直滚动条 *!*/
	resize: none;		/* 去掉右下角调大小的箭头 */
}

.txt_base64:hover, .txt_base64:valid,
.txt_base64:focus:not(:hover)
{
	background-color: #282923;
	color: #F8F8F2;
}

.get_certs
{
	border-radius: 0;
	margin-left: 10px;
	margin-top: -10px;
	height: 100%;

	font-size: 1.25rem;
	font-weight: bolder;
	height: 100%;
	display: inline-block;
	padding: 0.35rem 1rem;

}

.certs div:nth-child(1)
{
	/*font-weight: bold;*/
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.div_password
{
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #9831FF;
	padding: 0;
	position: relative;
	display: inline-flex;
}

.span_password
{
	margin-right: 0;
	font-size: 1.25rem;
	color: #F1E5E6;
	background-color: #9831FF;
	font-weight: bolder;
	height: 100%;
	display: inline-block;
	padding: 0.4rem 1.25rem;
}

.txt_password
{
	margin-left: 0;
	width: 300px;
	font-size: 1.25rem;
	min-height: 2em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
	padding-left: 1rem;
	padding-right: 2.7rem;
	font-weight: 700;
}

.eye_password
{
	position: absolute;
	font-size: 1.3rem;
	cursor: pointer;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #9831FF;
}

.div_password button
{
	margin-left: 50px;
	font-size: 1.25rem;
	font-weight: bolder;
	height: 100%;
	display: inline-block;
	padding: 0.35rem 1rem;
}

.div_isEncry
{
	font-size: 1.2rem;
	vertical-align: bottom;
}

.divbase64
{
	position: relative;
	display: inline-block;
}

.divGet
{
	right: 12px;
	display: flex;
}

.copySuccess
{
	top: -20px;
	font-size: 20px;
}

.copySuccess img
{
	width: 25px;
}