.tdCliLogo img
{
    height: 35px;
}

.tHybrid
{
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    background-color: #494A5F;
    width: 900px;
    font-family: Poppins-Regular;
    font-size: 18px;
    margin-left: 70px;
}

.tHybrid tbody>tr:first-of-type>th:first-of-type
{
    border-top-left-radius: 10px;
}

.tHybrid tbody>tr:first-of-type>th:last-of-type
{
    border-top-right-radius: 10px;
}

.tHybrid tbody>tr:nth-child(8)>td:first-of-type
{
    border-bottom-left-radius: 10px;
}

.tHybrid tbody>tr:last-of-type>td:last-of-type
{
    border-bottom-right-radius: 10px;
}

.tHybrid th
{
    color: #FFFFFF;
    background-color: #6C7AE0;
    padding-top: 19px;
    padding-bottom: 19px;
    text-align: center;
    font-size: 23px;
}

.tHybrid td
{
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #FFFFF;
    background-color: #5A5D6F;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid 1px #A0A0A0;
}

.tHybrid td:hover
{
    cursor: pointer;
}

.tHybrid .c21, .tHybrid .c81
{
    font-size: 23px;
    text-align: center;
    padding: 0px;
    font-weight: bold;
    border-left: 0;
}

.tHybrid tr:nth-child(2) td
{
    border-top: 0;
}

.tHybrid .c81, .tHybrid .c102, .tHybrid .c113, .tHybrid .c123
{
    border-bottom: 0;
}

.tHybrid tr td:last-child
{
    border-right: 0;
}