body, html
{
	font-size: 1.3em;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	height: 100vh;
}

.os_options
{
	margin: 80px auto;
}

.os_options label
{
	margin-bottom: 10px;
}

.os_options select,
.os_options input,
.os_options textarea
{
	width: 1000px;
	margin-bottom: 20px;
}

#btn_generate
{
	width: 1000px;
	margin-top: 40px;
	margin-bottom: 30px;
}

#lb_os_version, #select_os_version,
#lb_os_kind, #select_os_kind,
#lb_os_hostname, #input_os_hostname,
#div_is_auto_login,
#lb_os_password, #input_os_password,
#lb_install, #select_install,
#lb_partition, #select_partition,
#lb_partition_install, #select_partition_install,
.btn, #txt_auto_install
{
	display: none;
}

#txt_auto_install
{
	display: none;
	resize: none;		/* 去年右下角调大小的箭头 */
}

#txt_auto_install::-webkit-scrollbar {	/* 滚动条整体样式 */
	background-color: #212529;
}

#btn_download, #btn_copy
{
	width: 300px;
	margin-top: 20px;
	margin-bottom: 50px;
}

.div_auto_txt
{
	position: relative;
}

.copySuccess
{
	position: absolute;
	top: 35px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #494A5F;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 7px;
	border-radius: 8px;
	display: none;
}

.copySuccess img
{
	width: 40px;
	margin-top: -3px;
}