body, html
{
	font-size: 1.03em;
	padding: 0;
	margin: 0;
	/*background: #494A5F;*/
	background-color: #3A3B4C;
	color: #FFFFFF;
	font-weight: 500;
}

body::-webkit-scrollbar {/*滚动条整体样式*/
	width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 8px;
}

body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	background: #676767;
}

.runoob-page-content
{ 
	margin-top: 80px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 15px;
}

[contentEditable=false]:empty:not(:focus):before
{ 
	content:attr(data-text); 
	color: #9A9A9A; 
} 

.row
{
	/*background-color: #494A5F;*/
	/*background-color: #3A3B4C;*/
}

#compiler
{
	background-color: #29404E;
}

.card
{
	/*border-color: #2C3B41;*/
	/*border-width: 4px;*/
	margin-top: 20px;
	border: 0;
}

.card-body
{
	/*background-color: #494A5F;*/
	background-color: #3A3B4C;
	padding: 0;
}

#flags
{
	padding: 4px;
	border: 1px solid #CCCCCC;
	margin-bottom: 4px;
	border-radius: 4px;
	box-sizing:border-box;
	/*background-color: #494A5F;*/
	background-color: #3A3B4C;
}

/*#exp, */
#txt
{
	width: 100%;
	padding: 12px;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	color: #FFFFFF;
	/*background-color: #494A5F;*/
	background-color: #3A3B4C;
}

.runoob-regex-test
{
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 0;
}

#txt, #textSour, #textMatchResult, #textReplaceResult
{
	font-size: 22px;
	font-family: Consolas, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}

#txt
{
	min-height: 100px;
	background: #252525;
	border: 0;
}

#txt ol li:first-child
{
	opacity: 0.5;
}

#txt:focus
{
	border-color: #66AFE9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#txt i, #txt b
{
	border-radius: 4px;
	font-style: normal;
	font-weight: normal;
}

#txt i
{
	background: #062C34;
	box-shadow: 0 0 0 1px #0099FF
}

#txt b
{
	background: #3B233C;
	box-shadow: 0 0 0 1px #CE51A2;
}

.form-control
{
	background-color: #121212;
	color: #FFFFFF;
	border: 0;
	font-size: 18px;
}

.form-control:hover, .form-control:valid
{
	background-color: #121212;
	color: #FFFFFF;
}

.form-control:read-only
{
	background-color: #272A2C;
	color: #FFFFFF;
	font-size: 18px;
}

.dropdown-menu
{
	background-color: #198754;
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown-menu li
{
	color: #FFFFFF;
	font-size: 20px;
	line-height: 30px;
}

.dropdown-menu li:hover
{
	background-color: #CBCFFF;
	color: #8000FF;
	border-radius: 5px;
}

.input-group-text
{
	background-color: #272A2C;
	color: #FFFFFF;
	border: 0;
	font-size: 18px;
}

.form-check-label strong
{
	margin-left: 2px;
}

#menu2
{
	margin-left: 20px;
}

.runoob-page-content ul input[type="checkbox"]
{
	accent-color: #8000FF;
	/*zoom: 150%;*/
}

#grammar
{
	width: 100%;
	/*height: auto;*/
	padding-left: 50px;
	position: fixed;
	opacity: 1.0;
	z-index: 8;
	/*background-color: #00B050;*/
	background-color: #494A5F;
	overflow-y: auto;
	display: none;
	left: 0;
	right: 0;
	top: 80px;
	bottom: 0;
	margin: auto;
	/*max-width: 1200px;*/
}

#grammar::-webkit-scrollbar {/*滚动条整体样式*/
	width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 8px;
}

#grammar::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 5px;
	background: #676767;
}

#tGrammar
{
	margin-top: 20px;
}

#tGrammar .cell:nth-child(1)
{
	width: 140px;
}

#tGrammar .row:nth-child(25) .cell:nth-child(2),
#tGrammar .row:nth-child(26) .cell:nth-child(2),
#tGrammar .row:nth-child(27) .cell:nth-child(2),
#tGrammar .row:nth-child(28) .cell:nth-child(2)
{
    line-height: 35px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#tGrammar .row:nth-child(25) .cell:nth-child(1),
#tGrammar .row:nth-child(26) .cell:nth-child(1),
#tGrammar .row:nth-child(27) .cell:nth-child(1),
#tGrammar .row:nth-child(28) .cell:nth-child(1)
{
    vertical-align: middle;
}

.regex_group
{
	font-size: 40px;
}

.group1
{
	font-size: 80px;
	color: #0080FF;
}

.group2
{
	font-size: 60px;
	color: #A6E22E;
}

.group3
{
	font-weight: bold;
	color: #FF6EFF;
	font-size: 50px;
}

.group_result
{
	font-size: 30px;
	line-height: 60px;
}

.group_result span
{
	color: #63D8EE;
}

.span25
{
	font-size: 25px;
	color: #FFFFFF!important;
}


.spanSpace
{
	letter-spacing: 2.4px;
}

#regex_group_close
{
    top: 80px;
    right: 20px;
	font-size: 25px;
	font-weight: bold;
	line-height: 37px;
	text-align: center;
    cursor: pointer;
    position: fixed;
	color: #A9C7CE;
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

#regex_group_close:hover
{
	background-color: #1C232F;
	color: #FFFFFF;
}

/*新增*/
.row
{
	display: inherit;
}

.input-group > .input-group-append > .input-group-text
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .input-group-prepend > .input-group-text
{
	padding: .5rem 1rem;
	line-height: 1.5;
	border-radius: .3rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group > .input-group-append > .input-group-text
{
	padding: .5rem 1rem;
	line-height: 1.5;
	border-radius: .3rem;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.form-inline, .form-group
{
    display: flex;
    align-items: center;
}


.gammar
{
	padding-left: 20px;
	padding-right: 20px;
}

#textPattern::placeholder,
#textReplace::placeholder,
#textReplaceResult::placeholder
{
	color: #6C757D;
}


#btnReplace
{
	margin-left: 20px;
}

#textSour
{
	padding-top: 0;
	padding-bottom: 0;
}

.card-body .row > :not(:first-child)
{
	margin-top: 20px;
}