#tWiFi1 .row.header .cell,				  	/* 表格表头，多行 */
#tWiFi2 .row.header .cell
{
	line-height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#tWiFi1 .row .cell,  	/* 添加表格线 */
#tWiFi2 .row .cell
{
	border-bottom: solid 2px #A0A0A0;
}


#tWiFi1 .row.header .cell,			/* 去掉多余的表格线 */
#tWiFi2 .row.header .cell,
#tWiFi1 .row:last-child .cell,
#tWiFi2 .row:last-child .cell
{
	border-bottom: 0;
}

#tWiFi1 .header.row .cell,
#tWiFi2 .header.row .cell
{
	background-color: #6C7AE0!important;
}

#tWiFi1 .row .cell:nth-child(1),
#tWiFi2 .row .cell:nth-child(1)
{
	background-color: #5A5D6F;
}

#tWiFi1 .row .cell:nth-child(2)
{
	background-color: #426CA5;
}

#tWiFi1 .row .cell:nth-child(3)
{
	background-color: #4FA8A8;
}

#tWiFi1 .row .cell:nth-child(4),
#tWiFi2 .row .cell:nth-child(2)
{
	background-color: #56963D;
}

#tWiFi1 .row .cell:nth-child(5),
#tWiFi2 .row .cell:nth-child(3)
{
	background-color: #A8963D;
}

#tWiFi1 .row .cell:nth-child(6),
#tWiFi2 .row .cell:nth-child(4)
{
	background-color: #CC7832;
}

#tWiFi1 .row .cell:last-child,			/* 去掉最右侧的表格线 */
#tWiFi2 .row .cell:last-child
{
	border-right: 0;
}

#tWiFi1 .row:hover .cell,
#tWiFi2 .row:hover .cell
{
	color: inherit;
}

#tWiFi1 .row.header:hover .cell,
#tWiFi2 .row.header:hover .cell
{
	color: #FFFFFF;
}

#tWiFi1 .row:hover .cell:nth-child(1),
#tWiFi2 .row:hover .cell:nth-child(1)
{
	color: #FFFF00;
}

/*.wifi5*/
/*{*/
/*	position: relative;*/
/*	display: flex;*/
/*	padding: 0!important;*/
/*}*/

/*.wifi5 div*/
/*{*/
/*	flex: 1;*/
/*	padding: 0;*/
/*	box-sizing: border-box;*/
/*	text-align: center;*/
/*	height: 100%;*/
/*}*/

/*.ac*/
/*{*/
/*	display: flex!important;*/
/*	padding-left: 0!important;*/
/*	padding-right: 0!important;*/
/*	position: relative;*/
/*}*/

/*.ac::before*/
/*{*/
/*	content: '';*/
/*	position: absolute;*/
/*	left: 50%;					!* 位于容器的中间 *!*/
/*	top: 0;*/
/*	transform: translateX(-50%);*/
/*	width: 2px;					!* 线条宽度 *!*/
/*	height: 100%;				!* 线条高度 *!*/
/*	background-color: #A0A0A0;	!* 线条颜色 *!*/
/*}*/

/*.ac div*/
/*{*/
/*	flex: 1;*/
/*	padding: 0;*/
/*	box-sizing: border-box;*/
/*	text-align: center;*/
/*	height: 100%;*/
/*}*/

#tWiFi1 .row:nth-child(4) .cell,		/* 频宽，换行 */
#tWiFi1 .row:nth-child(6) .cell,		/* mimo 换行 */
#tWiFi2 .row:nth-child(4) .cell,		/* 频宽，换行 */
#tWiFi2 .row:nth-child(6) .cell			/* mimo 换行 */
{
	vertical-align: middle;
	line-height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}
